body{
  font-family: georgia;
  font-size: 18px;
  line-height: 30px;
}

.content{
  width: 800px;
  position: relative;
  left: 50%;
  margin-left: -400px;
}

h1, h2, h3, h4, h5, h6{
  font-family: Arial, Helvetica, sans-serif;
  color: #731706;
}

.footer{
  text-align: right;
}

.song{
  margin: 30px 0px ;
}

mark {
  background: #fff8d3;
  padding: 3px 0px;
}

h1 {
  font-size: 24px;
}
